/*************** Color Palette ***************/
/* 
#020258 Main{Blue}
#DB0706 Secondary & Accent{Red}
#666666 Secondary Text{Ash} 
 */


/*************** Font Family *************
/*font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
/* font-family: "Roboto", "Montserrat", sans-serif; */
/* font-family: 'Ms Madi', cursive; */


/*************** Universal Styles ***************/
* {
    margin: 0;
    padding: 0;
}



.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 50px auto;
    align-items: center;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* Bold for impact */
}

h2 {
    font-size: 1.8rem
}

p, span, li {
    font-family: "Roboto", sans-serif;
    font-weight: 400; /* Regular for readability */
}


/* H2 Labels */
.label {
    font-size: 1.3rem;
    font-weight: 700;
    color:#020258;
    text-transform: uppercase;
    margin-bottom: 50px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    letter-spacing: 1.5px;
}

/* Small square decorations */
.label::before,
.label::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color:#DB0706;
    display: inline-block;
}

/*************** Top Bar ***************/
.top-bar {
    background: linear-gradient(180deg, #DA6A6A, #DB0706);
    display: flex;
}

.top-bar .container {
    justify-content: space-between;
    margin: 2px auto;
}

.top-bar-contact-info {
    display: flex;
    justify-content: start;
    width: auto;
}

.infos {
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.infos-text {
    color: #020258;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.icon-box {
    display: flex;
    width: 22px;
    height: 22px;
    background: #020258;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.icon-box i {
    font-size: 12px;
    color: white;
}

.social-links {
    display: flex;
    width: auto;
    justify-content: right;
    align-items: center;
}

.social-links a {
    color: #020258;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 30px;
}

/*************** Navigation ***************/
.nav-bar {
    background-color: #020258;
    display: flex;
}

.nav-bar .container {
    justify-content: space-between;
    margin: 10px auto;
}

.nav-bar a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 50px;
}

.logo span {
    font-size: 1.5rem;
}

.logo>span {
    color: #FFFFFF;
    font-weight: 500;
}

.logo span:last-child {
    color: #DB0706;
    font-weight: 700;
}

.navlinks {
    text-align: right;
}

.navlinks ul {
    list-style: none;
    display: flex;
    /* Align items in a row */
    gap: 10px;
    /* Space between items */
    padding: 0;
    margin: 0;
}

.navlinks ul li {
    list-style: none;
    display: flex;
    position: relative;
}

.navlinks ul li a {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    text-decoration: none;
}

.navlinks ul li a::after {
    content: '';
    background: #DB0706;
    width: 0%;
    height: 2px;
    display: block;
    transition: 0.3s;
}

.navlinks ul li a:hover::after {
    width: 100%;
}

.navlinks ul li:not(:last-child)::after {
    content: "/";
    /* Separator */
    color: #DB0706;
    /* Adjust separator color */
    margin-left: 15px;
    /* Space between text and separator */
    font-weight: 400;
}


/*************** Hero ***************/
.hero {
    background: url("../images/hero-bg.jpg") no-repeat center center/cover;
    height: auto; /* screen height */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* Add an overlay for better text visibility */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(30, 37, 152, 0.8) 0%,
            /* Fully solid at 0% */
            rgba(30, 37, 152, 0.6) 35%,
            rgba(30, 37, 152, 0.3) 50%,
            rgba(30, 37, 152, 0.1) 65%,
            rgba(30, 37, 152, 0) 100%
            /* Clear Opacity */
        );
}

/* Ensure text is above overlay */
.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* Align content to the left */
    text-align: left; /* Ensure text is left-aligned */
    width: auto;
    max-width: 900px;/* Prevent overly wide text */
    gap: 15px;
    padding: 70px 0;
}

.hero-content h1{
    font-size: 2.8rem;
    color: white;
    line-height: 1.5;
}

.highlight{
    color:#DB0706;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.hero-content p{
    color:#FFFFFF;
    line-height: 1.3;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    background-color: #DB0706; /* Red button */
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    transition: background 0.3s ease;
    border: none;
    margin-top: 50px;
}

.cta-button:hover {
    background-color: #B30606;
    color: white; /* Darker red on hover */
    cursor: pointer;
}

.arrow-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #020258; /* Blue box */
    margin-left: 20px;
    padding: 10px;
}

.arrow-box i {
    color: white;
    font-size: 1.5rem;
}

.rotate-up-right{
    display: inline-block;
    transform: rotate(-45deg);
}



/*************** About Section ***************/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container {
    align-items: start;
    gap: 70px;
    margin: 25px auto;
}

/* Left Content */
.about-content {
    width: 50%;
}

.about-content h2 {
    margin-bottom: 5px;
    line-height: 1.2;
}

.about-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.ceo-signature {
    font-style: italic;
    font-weight: 600;
    color: #020258;
    width: max-content;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.signature {
    font-family: 'Ms Madi', cursive;
    font-size: 2.5rem;
    font-weight: 400;
}

.ceo-signature span {
    display: flex;
    margin-top: -40px;
    justify-content: flex-end;
    color: #666666;
}

/* Right Image */
.about-image {
    display: flex;
    margin: 100px 0 25px;
}

.about-image img {
    height: 350px;
    width: auto;
}

/*************** Stats Section ***************/

.stats {
    background-color: #020258; /* Adjust to match your design */
    color: white;
    padding: 15px 0;
    text-align: left;
    margin: 50px 0;
}

.stats .container {
    justify-content: space-between;
    margin: 0 auto;
}

.stat h2 {
    font-size: 2.5rem; /* Adjust size if needed */
    font-weight: bold;
}

.stat p {
    font-size: 1rem;
    opacity: 0.8;
    letter-spacing: 3px;
}


/*************** Services Section ***************/
.services {
    background: #fff;
}

.services .container {
    align-items: start;
    gap: 100px;
    margin: 25px auto;
}

.services-content {
    width: 50%;
}

.services-content h2 {
    margin-bottom: 5px;
    line-height: 1.2;
}

.services-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    margin-top: 100px;
}


.service-item {
    display: flex;
    align-items: center;
    background: #d0d0e3;
    font-weight: bold;
    justify-content: stretch;
}


.service-item .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.service-item:first-child .icon-box i{
    color: #DB0706;
}

.service-item .icon-box i {
    font-size: 30px;
    color:#020258;
    width: 30px;
}

.black-bg {
    background-color: black;
}



.red-bg {
    background-color: red;
}

.service-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center;
}



/*************** Work Section ***************/
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.work h2 {
    line-height: 1.2;
    margin-bottom: 5px;
}

.work p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    width: 38%;
    text-align: center;
    margin-bottom: 15px;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery1 {
    position: relative; /* Parent div becomes reference for positioning */
}

.gallery1 button {
    width: max-content;
    position: absolute;
    bottom: 15px; /* Adjust vertical position */
    left: 50%; /* Move to the center */
    transform: translateX(-50%); /* Shift back by 50% of its own width */
    margin: 0;
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: red;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
}

.btn span {
    font-size: 18px;
}



/*************** Testimonials Section ***************/
.testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials .container {
    gap: 100px;
    margin: 25px auto;
}

.testimonial-content {
    flex: 1;
    max-width: 50%;
}

.testimonial-content h2 {
    line-height: 1.2;
    margin-bottom: 5px;
}

.testimonial-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.testimonial-image {
    flex: 1;
    position: relative;
}
.testimonial-image-base {
    width: auto;
    height: 400px;
}

.testimonial-container {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateX(-30%);
    background: white;
    padding: 10px 20px;
    box-shadow: 0 4px 55px 10px rgba(125, 125, 191, 1);
    display: flex;
}

.prev-btn {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.next-btn {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.testimonial-box {
    display: flex;
    gap: 20px;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.testimonial-msg {
    text-align: left;
    color: #333;
    font-size: 0.9rem;
}

.testimonial-name {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Ms Madi', cursive;
}

.testimonial-msg p {
    font-size: 14px;
    color: #333;
}

.prev-btn .arrow-box, .next-btn .arrow-box{
    width: auto;
    display: table-cell;
}

.prev-btn .arrow-box i, .next-btn .arrow-box i {
    font-size: 1.5rem;
}



/*************** FAQ Section ***************/
.faq {
    margin: auto;
}

.faq .container {
    flex-direction: column;
    width: 70%;
    margin: 25px auto;
}

.faq .container h2 {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
}

.faq-main-paragraph {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

.faq-item {
    width: 100%;
    padding: 10px 0;
}

.faq-question {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 550;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.faq-question p {
    font-size: 1.5rem;
    font-weight: 550;
}

.plus-minus {
    font-weight: 700;
    font-size: 25px;
    background: #DB0706;
    color: #020258;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-divider {
    width: 100%;
    background: #A3A3E8;
    height: 2px;
}

.faq-answer {
    display: block;
    padding: 5px 0;
    width: 90%;
}

.faq-answer p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.2;
    word-spacing: 2px;
}

.hidden {
    display: none;
}


/*************** Contact Section ***************/
.contact .container {
    background: #D0CDD7;
    flex-direction: column;
    margin: 70px auto;
    box-shadow: 0 2px 40px 5px rgba(125, 125, 191, 1);
    width: 70%;
}

.red-line {
    width: 100%;
    background: #DB0706;
    height: 5px;
}

.sub-container {
    display: flex;
    padding: 25px;
    justify-content: space-evenly;
}

/* Seperator inside the .sub-container */
.horizontal-seperator {
    width: 2px;
    background: white;
}

/* Left Side: Contact Info */
.contact-info {
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.contact-info-paragraph {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 25px;
}

.underinfo {
    letter-spacing: 1px;
    font-size: 12px;
}

.contact-info-details {
    margin-bottom: 70px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
}

.contact-item .icon {
    font-size: 20px;
    margin-right: 10px;
}

.contact-item .icon i {
    width: 20px;
}

.contact-item div strong {
    font-size: 17px;
    text-transform: uppercase;
    color:#020258;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.contact-label {
    font-size: 0.8rem;
}

.contact-item div p:last-child{
    padding-top: 5px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social-icons a {
    font-size: 20px;
    color: black;
}

/* Right Side: Quote Form */
.quote-form {
    width: 50%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.quote-form h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.quote-form p {
    margin-bottom: 35px;
    font-size: 0.8rem;
    color: #333;
}


.req-a-quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote-form input,
.quote-form select,
.quote-form textarea {
    padding: 10px;
    font-size: 12px;
}

.input-group {
    display: flex;
    gap: 10px;
}

.input-group input {
    flex: 1;
}

.input-group select {
    flex: 1;
}

/* Button Styling */
.send-message-button {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    background-color: #DB0706; /* Red button */
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    transition: background 0.3s ease;
    border: none;
    margin-top: 25px;
}

.send-message-button:hover {
    background-color: #B30606;
    color: white; /* Darker red on hover */
    cursor: pointer;
}

.send-message-button .arrow-box i {
    font-size: 1.5rem;
}

#loading-indicator {
    display: none;
}

/*************** Footer ***************/
footer {
    background: #020258;
    padding: 5px;
}

footer .container {
    margin: 25px auto;
    justify-content: space-between;
}

.footer-left {
    width: 65%;
}

.company-name-logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.company-name-logo .company-logo {
    padding-right: 5px;
}

.company-name-logo div span{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
}

.company-name-logo div span:last-of-type {
    color :#DB0706;
}

.motto p{
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 100;
}

.footer-right {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    width: 65%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact h3 {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.footer-contact-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 20px;
}

.footer-contact-details div{
    display: inherit;
    gap: 10px;
}

.footer-contact-details div i {
    color: #DB0706;
    font-size: 15px;
    width: 15px;
}

.footer-contact-details div p {
    letter-spacing: 1.5px;
    font-size: 0.8rem;
}

.footer-socials {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.footer-socials a {
    font-size: 25px;
    color: #FFFFFF;
}

.footer-bottom .container {
    flex-direction: column;
    align-items: start;
    padding-bottom: 0;
}

.footer-bottom .container p {
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 1rem;
}

.footer-bottom .container hr {
    width: 100%;
}

/*twistdevs*/
.twistdevs .container{
    color: #666666;
    font-size: 7px;
    letter-spacing: 1px;
    align-items: end;
    flex-direction: column;
    padding-top: 0;
    margin: 1px auto;
}




/* Media Query for tablets (max-width: 1024px) */
@media screen and (max-width: 1024px) {

    .container {
        max-width: 960px;
        width: 90%;
        padding: 0 20px;
      }


    .label {
        font-size: 1.2rem;
        letter-spacing: .8px;
        margin-bottom: 5px;
        gap: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    /*Top-Bar*/
    .top-bar {
        font-size: 0.8rem;
    }

    .top-bar .container {
        margin: 5px auto;
    }

    .infos-text {
        font-size: 0.8rem;
    }

    .icon-box {
        width: 22px;
        height: 22px;
    }

    .icon-box i {
        font-size: 12px;
    }

    .social-links a {
        font-size: 16px;
    }

    /*Navigation-Bar*/
    .nav-bar .container {
        margin: 5px auto;
    }

    .company-logo {
        width: 60px;
    }

    .logo span {
        font-size: 1.2rem;
    }

    .navlinks ul li a {
        font-size: 0.8rem;
    }


    /* Hero */
    .hero-content h1 {
        font-size: 2.2rem;
        line-height: 1;
    }

    .hero-content p {
        margin-top: 20px;
        line-height: 1.2;
    }



    /* About Section */
    .about-content h2 {
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .about-content p {
        line-height: 1.2;
    }

    .ceo-signature span {
        margin-top: -20px;
    }

    .about-image img {
        height: 350px;
        width: auto;
    }

    /* Stat */
    .stat h2 {
        font-size: 2rem;
    }


    /* Services */
    .services-content p {
        line-height: 1.2;
    }

    .service-item .icon-box i {
        font-size: 40px;
        width: 40px;
    }

    .service-text {
        font-size: 20px;
    }

    /* Work Sectiion */
    .work p {
        line-height: 1.2;
        width: 35%;
        margin-bottom: 20px;
    }

    /* Testimonial Section */
    .testimonial-content p {
        line-height: 1.2;
    }

    .testimonial-image-base {
        height: 350px;
    }

    .testimonial-container {
        left: 5%;
        transform: translateX(-40%);
        padding: 10px 25px;
        box-shadow: 0 4px 33px 8px rgba(125, 125, 191, 1);
    ;
    }

    .testimonial-img {
        width: 80px;
        height: 80px;
    }

    .testimonial-text {
        gap: 7px;
    }

    .testimonial-msg {
        font-size: .9rem;
    }

    .prev-btn .arrow-box i, .next-btn .arrow-box i {
        font-size: 2rem;
    }

    /* FAQ Section */
    .faq-main-paragraph {
        line-height: 1.2;
    }

    .faq-question p {
        font-size: 20px;
        font-weight: 500;
    }

    .faq-answer p {
        font-size: .8rem;
        line-height: 1.2;
    }

    .plus-minus {
        font-size: 30px;
        height: 40px;
        width: 40px;
    }

    .plus-minus i {
        width: 30px;
        height: 30px;
    }

    .faq-item {
        padding: 10px 0;
    }

  /* Footer: switch from side-by-side to stacked layout */
  .footer-left,
  .footer-right {
    width: 100%;
    padding: 20px 0;
  }

  .footer-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}