/*************** Color Palette ***************/
/* 
#020258 Main{Blue}
#DB0706 Secondary & Accent{Red}
#666666 Secondary Text{Ash} 
 */


/*************** Font Family *************
/*font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
/* font-family: "Roboto", "Montserrat", sans-serif; */
/* font-family: 'Ms Madi', cursive; */


/*************** Universal Styles ***************/
* {
    margin: 0;
    padding: 0;
}



.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 50px auto;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* Bold for impact */
}

h2 {
    font-size: 1.8rem
}

p,
span,
li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* Regular for readability */
}


/* H2 Labels */
.label {
    font-size: 2.3rem;
    font-weight: 700;
    color: #020258;
    text-transform: uppercase;
    margin-bottom: 50px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    letter-spacing: 1.5px;
}

/* Small square decorations */
.label::before,
.label::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #DB0706;
    display: inline-block;
}

/* Dimmed(mobile devices) */
/* Fullscreen Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* adjust darkness */
    z-index: 998;
    display: none; /* hide by default */
  }
  
  .overlay.active {
    display: block;
  }
  
/*************** Top Bar ***************/
.top-bar {
    background: linear-gradient(180deg, #DA6A6A, #DB0706);
    display: flex;
}

.top-bar .container {
    justify-content: space-between;
    margin: 2px auto;
}

.top-bar-contact-info {
    display: flex;
    justify-content: start;
    width: auto;
}

.infos {
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.infos-text {
    color: #020258;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.icon-box {
    display: flex;
    width: 22px;
    height: 22px;
    background: #020258;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.icon-box i {
    font-size: 12px;
    color: white;
}

.social-links {
    display: flex;
    width: auto;
    justify-content: right;
    align-items: center;
}

.social-links a {
    color: #020258;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 30px;
}

/*************** Navigation ***************/
.nav-bar {
    background-color: #020258;
    display: flex;
}

.nav-bar .container {
    justify-content: space-between;
    margin: 10px auto;
}

.nav-bar a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 50px;
}

.logo span {
    font-size: 1.5rem;
}

.logo>span {
    color: #FFFFFF;
    font-weight: 500;
}

.logo span:last-child {
    color: #DB0706;
    font-weight: 700;
}

.burger {
    display: none;
}

.navlinks {
    text-align: right;
}

.navlinks ul {
    list-style: none;
    display: flex;
    /* Align items in a row */
    gap: 10px;
    /* Space between items */
    padding: 0;
    margin: 0;
}

.navlinks ul li {
    list-style: none;
    display: flex;
    position: relative;
}

.navlinks ul li a {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    text-decoration: none;
}

.navlinks ul li a::after {
    content: '';
    background: #DB0706;
    width: 0%;
    height: 2px;
    display: block;
    transition: 0.3s;
}

.navlinks ul li a:hover::after {
    width: 100%;
}

.navlinks ul li:not(:last-child)::after {
    content: "/";
    /* Separator */
    color: #DB0706;
    /* Adjust separator color */
    margin-left: 15px;
    /* Space between text and separator */
    font-weight: 400;
}


/*************** Hero ***************/
.hero {
    background: url("../images/hero-bg.jpg") no-repeat center center/cover;
    height: auto;
    /* screen height */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* Add an overlay for better text visibility */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(30, 37, 152, 0.8) 0%,
            /* Fully solid at 0% */
            rgba(30, 37, 152, 0.6) 35%,
            rgba(30, 37, 152, 0.3) 50%,
            rgba(30, 37, 152, 0.1) 65%,
            rgba(30, 37, 152, 0) 100%
            /* Clear Opacity */
        );
}

/* Ensure text is above overlay */
.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* Align content to the left */
    text-align: left;
    /* Ensure text is left-aligned */
    width: auto;
    max-width: 900px;
    /* Prevent overly wide text */
    gap: 15px;
    padding: 70px 0;
}

.hero-content h1 {
    font-size: 2.8rem;
    color: white;
    line-height: 1.5;
}

.highlight {
    color: #DB0706;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.hero-content p {
    color: #FFFFFF;
    line-height: 1.3;
    width: 70%;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    background-color: #DB0706;
    /* Red button */
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    transition: background 0.3s ease;
    border: none;
    margin-top: 50px;
}

.cta-button:hover {
    background-color: #B30606;
    color: white;
    /* Darker red on hover */
    cursor: pointer;
}

.arrow-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #020258;
    /* Blue box */
    margin-left: 20px;
    padding: 5px;
}

.arrow-box i {
    color: white;
    font-size: 1.5rem;
}

.rotate-up-right {
    display: inline-block;
    transform: rotate(-45deg);
}



/*************** About Section ***************/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
}

.about .container {
    align-items: start;
    gap: 70px;
    margin: 25px auto;
}

/* Left Content */
.about-content {
    width: 50%;
}

.about-content h2 {
    margin-bottom: 5px;
    line-height: 1.2;
}

.about-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.ceo-signature {
    font-style: italic;
    font-weight: 600;
    color: #020258;
    width: max-content;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.signature {
    font-family: 'Ms Madi', cursive;
    font-size: 2.5rem;
    font-weight: 400;
}

.ceo-signature span {
    display: flex;
    margin-top: -40px;
    justify-content: flex-end;
    color: #666666;
}

/* Right Image */
.about-image {
    display: flex;
    margin: 35px auto;
}

.about-image img {
    height: 350px;
    width: auto;
}

/*************** Stats Section ***************/

.stats {
    background-color: #020258;
    /* Adjust to match your design */
    color: white;
    padding: 25px 0;
    text-align: left;
    margin: 100px 0;
}

.stats .container {
    justify-content: space-between;
    margin: 0 auto;
}

.stat h2 {
    font-size: 2.5rem;
    /* Adjust size if needed */
    font-weight: bold;
}

.stat p {
    font-size: 1rem;
    opacity: 0.8;
    letter-spacing: 3px;
}


/*************** Services Section ***************/
.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    flex-direction: column;
    margin: 100px 0;
}

.services .container {
    align-items: start;
    gap: 100px;
    margin: 25px auto;
}

.services-content {
    width: 50%;
}

.services-content h2 {
    margin-bottom: 5px;
    line-height: 1.2;
}

.services-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    margin: 50px auto;
}


.service-item {
    display: flex;
    align-items: center;
    background: #d0d0e3;
    font-weight: bold;
    justify-content: stretch;
}


.service-item .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.service-item:first-child .icon-box i {
    color: #DB0706;
}

.service-item .icon-box i {
    font-size: 30px;
    color: #020258;
    width: 30px;
}

.black-bg {
    background-color: black;
}



.red-bg {
    background-color: red;
}

.service-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center;
}



/*************** Work Section ***************/
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    text-align: center;
}

.work .container {
    flex-direction: column;
}

.work h2 {
    line-height: 1.2;
    margin-bottom: 5px;
}

.work p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    width: 38%;
    text-align: center;
    margin-bottom: 15px;
}

/* Main Wrapper for scrolling */
/* NEW: Wrapper just controls overflow */
.work-gallery-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.work-gallery {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
    /* Firefox optional settings */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.work-gallery:active {
    cursor: grabbing;
  }

.work-gallery::-webkit-scrollbar {
    height: 6px;
}

.work-gallery::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.work-gallery::-webkit-scrollbar-track {
    background: transparent;
}

.gallery1 {
    position: relative;
}

.gallery1 button {
    width: max-content;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.work-item {
    flex: 0 0 auto;
    width: 300px;
    scroll-snap-align: start;
    height: 250px;
    background: #f0f0f0;
    border-radius: 8px;
    /* overflow: hidden; */
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: red;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
}

.btn span {
    font-size: 18px;
}



/*************** Testimonials Section ***************/
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.testimonials .container {
    gap: 100px;
    margin: 25px auto;
}

.testimonial-content {
    flex: 1;
    max-width: 50%;
}

.testimonial-content h2 {
    line-height: 1.2;
    margin-bottom: 5px;
}

.testimonial-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.testimonial-image {
    flex: 1;
    position: relative;
}

.testimonial-image-base {
    width: auto;
    height: 400px;
}

.testimonial-container {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateX(-30%);
    background: white;
    padding: 10px 20px;
    box-shadow: 0 4px 55px 10px rgba(125, 125, 191, 1);
    display: flex;
}

.prev-btn {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.next-btn {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.testimonial-box {
    display: flex;
    gap: 20px;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.testimonial-msg {
    text-align: left;
    color: #333;
    font-size: 0.9rem;
}

.testimonial-name {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Ms Madi', cursive;
}

.testimonial-msg p {
    font-size: 14px;
    color: #333;
}

.prev-btn .arrow-box,
.next-btn .arrow-box {
    width: auto;
    display: table-cell;
}

.prev-btn .arrow-box i,
.next-btn .arrow-box i {
    font-size: 1.5rem;
}



/*************** FAQ Section ***************/
.faq {
    margin: 100px auto;
    text-align: center;
}

.faq .container {
    flex-direction: column;
    width: 70%;
    margin: 25px auto;
}

.faq .container h2 {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
}

.faq-main-paragraph {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
}

.faq-item {
    width: 100%;
    padding: 10px 0;
}

.faq-question {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 550;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
}

.faq-question p {
    font-size: 1.5rem;
    font-weight: 550;
}

.plus-minus {
    font-weight: 700;
    font-size: 25px;
    background: #DB0706;
    color: #020258;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-divider {
    width: 100%;
    background: #A3A3E8;
    height: 2px;
}

.faq-answer {
    display: block;
    padding: 5px 0;
    width: 90%;
}

.faq-answer p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.2;
    word-spacing: 2px;
}

.hidden {
    display: none;
}


/*************** Contact Section ***************/
.contact {
    margin: 100px 0;
}

.contact .container {
    background: #D0CDD7;
    flex-direction: column;
    margin: 70px auto;
    box-shadow: 0 2px 40px 5px rgba(125, 125, 191, 1);
    width: 90%;
}

.red-line {
    width: 100%;
    background: #DB0706;
    height: 5px;
}

.sub-container {
    display: flex;
    padding: 25px;
    justify-content: space-evenly;
}

/* Seperator inside the .sub-container */
.horizontal-seperator {
    width: 2px;
    background: white;
}

/* Left Side: Contact Info */
.contact-info {
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.contact-info-paragraph {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 25px;
}

.underinfo {
    letter-spacing: 1px;
    font-size: 12px;
}

.contact-info-details {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
}

.contact-item .icon {
    font-size: 20px;
    margin-right: 10px;
}

.contact-item .icon i {
    width: 20px;
    margin-top: 8px;
}

.contact-item div strong {
    font-size: 24px;
    text-transform: uppercase;
    color: #020258;
    font-family: 'Times New Roman', Times, serif;
}

.contact-label {
    font-size: 0.8rem;
}

.contact-item div p:last-child {
    padding-top: 5px;
}

/* Right Side: Quote Form */
.quote-form {
    width: 50%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.quote-form h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.quote-form p {
    margin-bottom: 35px;
    font-size: 0.8rem;
    color: #333;
}


.req-a-quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote-form input,
.quote-form select,
.quote-form textarea {
    padding: 10px;
    font-size: 12px;
}

.input-group {
    display: flex;
    gap: 10px;
}

.input-group input {
    flex: 1;
    width: 48%;
}

.input-group select {
    flex: 1;
    width: 48%;
}

/* Button Styling */
.send-message-button {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    background-color: #DB0706;
    /* Red button */
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    transition: background 0.3s ease;
    border: none;
    margin-top: 25px;
}

.send-message-button:hover {
    background-color: #B30606;
    color: white;
    /* Darker red on hover */
    cursor: pointer;
}

.send-message-button .arrow-box i {
    font-size: 1.5rem;
}

#loading-indicator {
    display: none;
}

/*************** Footer ***************/
footer {
    background: #020258;
    padding: 5px;
}

footer .container {
    margin: 10px auto;
    justify-content: space-between;
}

.footer-left {
    width: 65%;
}

.company-name-logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.company-name-logo .company-logo {
    padding-right: 5px;
}

.company-name-logo div span {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
}

.company-name-logo div span:last-of-type {
    color: #DB0706;
}

.motto p {
    color: #666666;
    font-size: 1rem;
}

.footer-right {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    width: 65%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact h3 {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.footer-contact-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 20px;
}

.footer-contact-details div {
    display: inherit;
    gap: 10px;
}

.footer-contact-details div i {
    color: #DB0706;
    font-size: 15px;
    width: 15px;
}

.footer-contact-details div p {
    letter-spacing: 1.5px;
    font-size: 0.8rem;
}

.footer-socials {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.footer-socials a {
    font-size: 25px;
    color: #FFFFFF;
}

.footer-bottom .container {
    flex-direction: column;
    align-items: start;
    padding-bottom: 0;
}

.footer-bottom .container p {
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 1rem;
}

.footer-bottom .container hr {
    width: 100%;
}

/*twistdevs*/
.twistdevs .container {
    color: #666666;
    font-size: 7px;
    letter-spacing: 1px;
    align-items: end;
    flex-direction: column;
    padding-top: 0;
    margin: 1px auto;
}




/* Media Query for laptops & tablets (max-width: 1024px) */
/* -------------------------------------------- */
@media (max-width: 1024px) {

    .container {
        max-width: 960px;
        width: 90%;
    }


    .label {
        font-size: 1.2rem;
        letter-spacing: .8px;
        margin-bottom: 5px;
        gap: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    /*Top-Bar*/
    .top-bar {
        font-size: 0.8rem;
    }

    .top-bar .container {
        margin: 5px auto;
    }

    .infos-text {
        font-size: 0.8rem;
    }

    .icon-box {
        width: 22px;
        height: 22px;
    }

    .icon-box i {
        font-size: 12px;
    }

    .social-links a {
        font-size: 16px;
    }

    /*Navigation-Bar*/
    .nav-bar .container {
        margin: 5px auto;
    }

    .company-logo {
        width: 50px;
    }

    .logo span {
        font-size: 1.2rem;
    }

    .navlinks ul li a {
        font-size: 0.8rem;
    }


    /* Hero */
    .hero-content h1 {
        font-size: 2.2rem;
        line-height: 1;
    }

    .hero-content p {
        margin-top: 20px;
        line-height: 1.2;
    }



    /* About Section */
    .about-content h2 {
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .about-content p {
        line-height: 1.2;
    }

    .ceo-signature span {
        margin-top: -20px;
    }

    .about-image img {
        height: 350px;
        width: auto;
    }

    /* Stat */
    .stat h2 {
        font-size: 2rem;
    }


    /* Services */
    .services-content p {
        line-height: 1.2;
    }

    .service-item .icon-box i {
        font-size: 40px;
        width: 40px;
    }

    .service-text {
        font-size: 20px;
    }

    /* Work Sectiion */
    .work p {
        line-height: 1.2;
        width: 35%;
        margin-bottom: 20px;
    }

    /* Testimonial Section */
    .testimonial-content p {
        line-height: 1.2;
    }

    .testimonial-image-base {
        height: 350px;
    }

    .testimonial-container {
        left: 5%;
        transform: translateX(-40%);
        padding: 10px 25px;
        box-shadow: 0 4px 33px 8px rgba(125, 125, 191, 1);
        ;
    }

    .testimonial-img {
        width: 80px;
        height: 80px;
    }

    .testimonial-text {
        gap: 7px;
    }

    .testimonial-msg {
        font-size: .9rem;
    }

    .prev-btn .arrow-box i,
    .next-btn .arrow-box i {
        font-size: 2rem;
    }

    /* FAQ Section */
    .faq-main-paragraph {
        line-height: 1.2;
    }

    .faq-question p {
        font-size: 20px;
        font-weight: 500;
    }

    .faq-answer p {
        font-size: .8rem;
        line-height: 1.2;
    }

    .plus-minus {
        font-size: 30px;
        height: 40px;
        width: 40px;
    }

    .plus-minus i {
        width: 30px;
        height: 30px;
    }

    .faq-item {
        padding: 10px 0;
    }

    /* Footer */
    .footer-left,
    .footer-right {
        padding: 20px 0;
    }

    .footer-right {
        gap: 30px;
    }
}

/* Unconventional media queries */
/* -------------------------------------------- */
@media (min-width: 820px) and (max-width: 912px) {

    /* Styles for devices with a width between 820px and 912px */
    .container {
        max-width: 90%;
        width: 90%;
    }

    .label {
        font-size: 1rem;
        letter-spacing: .5px;
        margin-bottom: 30px;
    }

    .cta-button {
        padding: 7px 10px;
        font-size: 0.8rem;
    }

    .arrow-box i {
        font-size: 1.3rem;
    }

    /* Navigation-Bar */
    .company-logo {
        width: 50px;
    }

    .logo span {
        font-size: 1rem;
    }

    .navlinks ul li a {
        font-size: 0.7rem;
    }

    /* Hero Section */
    .hero-content h1 {
        font-size: 2rem;
        letter-spacing: -0.5px;
        line-height: 1;
    }

    /* About Section */
    .about-content p {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    .ceo-signature span {
        margin-top: -30px;
    }

    /* Stat Section */
    .stat h2 {
        font-size: 1.4rem;
    }

    .stat p {
        letter-spacing: 0;
    }

    .service-item .icon-box i {
        font-size: 30px;
        width: 30px;
    }

    .service-text {
        font-size: 18px;
    }

    /* Services Section */
    .services-content p {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    /* Work Section */
    .work p {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    /* Testimonial Section */
    .testimonial-content p {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    .testimonial-image-base {
        height: 300px;
    }

    .testimonial-msg {
        font-size: .7rem;
    }

    .testimonial-name {
        font-size: 1.4rem;
    }

    .prev-btn .arrow-box i,
    .next-btn .arrow-box i {
        font-size: 1.5rem;
    }

    .testimonial-container {
        left: -4%;
        transform: translateX(-20%);
        padding: 7px;
    }

    /* FAQ Section */
    .faq-main-paragraph {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    .plus-minus {
        font-size: 20px;
        height: 30px;
        width: 30px;
    }

    .plus-minus i {
        width: 20px;
        height: 20px;
    }

    /* Contact Section */
    .sub-container {
        padding: 20px;
        justify-content: space-between;
    }

    .contact-info h2 {
        font-size: 1.1rem;
    }

    .contact-info-paragraph {
        font-size: 0.7rem;
    }

    .contact-item div strong {
        font-size: 18px;
    }

    .contact-item .icon i {
        width: 15px;
        margin-top: 4.5px;
    }

    .contact-label {
        font-size: 0.7rem;
    }

    .underinfo {
        letter-spacing: .2px;
        font-size: 11px;
    }

    .quote-form {
        width: 52%;
        padding: 0px 20px;
    }

    .quote-form h2 {
        font-size: 1.1rem;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .quote-form p {
        margin-bottom: 35px;
        font-size: 0.7rem;
        color: #333;
    }

    .quote-form input,
    .quote-form select,
    .quote-form textarea {
        padding: 8px;
        font-size: 10px;
    }

    .send-message-button {
        width: 78%;
    }
}


/* Tablets and smaller (portrait) */
/* -------------------------------------------- */
@media (max-width: 768px) {
    /* Adjust font size, layout direction, spacing */

    .container {
        max-width: 90%;
        width: 100%;
        margin: 50px 0;
    }

    .label {
        font-size: 1rem;
        letter-spacing: .5px;
        margin-bottom: 30px;
    }

    .cta-button {
        padding: 10px 15px;
        font-size: 1rem;
    }

    .arrow-box i {
        font-size: 1.3rem;
    }

    /* Navigation-Bar */
    .company-logo {
        width: 50px;
    }

    .logo span {
        font-size: 1rem;
    }

    .navlinks ul li a {
        font-size: 0.7rem;
    }

    /* Hero Section */
    .hero-content h1 {
        font-size: 2.3rem;
        line-height: 1.4;
    }

    .hero-content p {
        margin-top: 20px;
        font-size: 1rem;
        line-height: 1.5;
        width: 55%;
    }

    /* About Section */
    .about-content h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .ceo-signature span {
        margin-top: -40px;
    }

    .about-image img {
        height: 300px;
        width: auto;
    }

    /* Stat Section */
    .stat h2 {
        font-size: 1.3rem;
    }

    .stat p {
        letter-spacing: 0;
    }

    /* Services Section */
    .services-content h2 {
        line-height: 1.3;
        font-size: 1.5rem;
    }

    .services-content p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .service-item .icon-box i {
        font-size: 25px;
        width: 25px;
    }

    .service-text {
        font-size: 17px;
    }

    .services-list {
        gap: 15px;
        margin-top: 55px;
    }

    /* Work Section */
    .work p {
        font-size: 0.8rem;
        line-height: 1.4;
        width: 46%;
        margin-bottom: 20px;
    }

    /* Testimonial Section */
    .testimonial-content h2 {
        line-height: 1.3;
    }

    .testimonial-content p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .testimonial-image-base {
        height: 300px;
    }

    .testimonial-container {
        left: 5%;
        transform: translateX(-25%);
        padding: 7px 15px;
        box-shadow: 0 4px 20px 5px rgba(125, 125, 191, 0.8);
    }

    .testimonial-img {
        width: 70px;
        height: 70px;
    }

    .testimonial-text {
        gap: 5px;
    }

    .testimonial-msg {
        font-size: 0.7rem;
    }

    .testimonial-name {
        font-size: 1.2rem;
    }

    .prev-btn {
        left: -20px;
    }

    .next-btn {
        right: -20px;
    }

    .prev-btn .arrow-box i,
    .next-btn .arrow-box i {
        font-size: 1.5rem;
    }

    /* FAQ Section */
    .faq .container h2 {
        line-height: 1.3;
    }

    .faq-main-paragraph {
        font-size: 1rem;
        line-height: 1.5;
    }

    .faq-question p {
        font-size: 20px;
    }

    .faq-answer p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .plus-minus {
        font-size: 15px;
        height: 25px;
        width: 25px;
    }

    .plus-minus i {
        width: 15px;
        height: 15px;
    }

    .faq-item {
        padding: 15px 0;
    }


    /* Contact Section */
    .contact .container {
        padding: 0;
        width: 95%;
    }

    .sub-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 25px;
        text-align: center;
    }

    .contact-info h2 {
        font-size: 1.7rem;
    }

    .contact-info-paragraph {
        font-size: 1.2rem;
        width: 97%;
        margin: 10px auto 40px;
    }

    .contact-info-details {
        gap: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .contact-item {
        display: flex;
        text-align: left;
    }

    .contact-item .icon {
        font-size: 30px;
        margin-right: 20px;
    }

    .contact-item .icon i {
        width: 30px;
        margin-top: 2px;
    }

    .contact-item div strong {
        font-size: 22px;
    }

    .contact-label {
        font-size: 1.2rem;
        margin-top: 15px;
    }

    .underinfo {
        letter-spacing: 1px;
        font-size: 22px;
    }

    .horizontal-seperator {
        display: none;
        /* Hide the vertical line when stacked */
    }

    .contact-info,
    .quote-form {
        width: 100%;
        padding: 50px 0;
    }

    .quote-form h2 {
        font-size: 1.7rem;
    }

    .quote-form p {
        font-size: 1.2rem;
    }

    .quote-form input,
    .quote-form select,
    .quote-form textarea {
        padding: 20px;
        font-size: 20px;
    }

    .send-message-button {
        padding: 10px 15px;
        font-size: 1.35rem;
        width: 50%;
        margin: 40px auto auto;
    }

    /* Footer Section */
    .footer-left,
    .footer-right {
        padding: 15px 0;
    }

    .footer-right {
        gap: 20px;
    }
}

/*Big phones and small tablets*/
@media (max-width: 640px) {
    .container {
        margin: 50px 0;
    }

    .company-logo {
        width: 100px;
    }

    .logo span {
        font-size: 1.3rem;
        display: none;
    }

    .cta-button {
        font-size: 1.5rem;
        padding: 20px 30px;
        margin: 100px auto 0;
    }

    .arrow-box {
        padding: 10px;
    }

    .arrow-box i {
        font-size: 2.3rem;
    }

    .label {
        font-size: 2.5rem;
        letter-spacing: 2.5px;
        margin-bottom: 50px;
    }

    .label::before,
    .label::after {
        width: 15px;
        height: 15px;
    }

    /* Top Bar */
    .top-bar {
        display: none;
    }

    /* Hero Section */
    .hero {
        height: 90vh;
    }

    .hero::before {
        background: linear-gradient(to bottom, rgba(30, 37, 152, 0.8) 9%, rgba(30, 37, 152, 0.6) 49%, rgba(30, 37, 152, 0.3) 72%, rgba(30, 37, 152, 0.1) 90%, rgba(30, 37, 152, 0) 100%);
    }

    .hero .container {
        width: 60%;
    }

    .hero-content {
        width: 100%;
        text-align: center;
        display: inline-flex;
    }

    .hero-content h1 {
        font-size: 3rem;
        line-height: 1.5;
    }

    .hero-content p {
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1.3;
        width: 100%;
        text-align: center;
    }

    /* Navigation Bar */

    #burger i {
        font-size: 3.5rem;
    }

    .burger {
        display: block;
        cursor: pointer;
        color: white;
        margin-left: auto;
        z-index: 9999;
        /* way above everything but tnot the navlinks */
    }

    .navlinks {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40%;
        background-color: #020258;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
    }

    .navlinks.show {
        transform: translateX(0);
    }


    .navlinks ul {
        flex-direction: column;
        gap: 30px;
        font-size: 1.5rem;
        text-align: center;
    }

    .navlinks ul li a {
        font-size: 2rem;
    }

    .navlinks ul li:not(:last-child)::after {
        content: none;
    }

    /* About Section */

    .about .container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .about-content {
        width: 70%;
    }

    .about-content h2 {
        line-height: 1.4;
        font-size: 2.4rem;
    }

    .about-content p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .about-image img {
        height: 500px;
    }

    .ceo-signature {
        width: auto;
        margin: 50px auto;
        padding: 0;
    }

    .ceo-signature span {
        margin-top: -63px;
    }

    .signature {
        font-size: 4.5rem;
    }

    /* Stats Section */
    .stats .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns */
        gap: 1.5rem;
        /* spacing between grid items */
        padding: 1rem;
        text-align: center;
    }

    .stat h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.3rem;
    }

    .stat p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
    }


    /* Service Section */
    .services .container {
        gap: 100px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .services-content {
        width: 68%;
    }

    .services-content h2 {
        line-height: 1.4;
        font-size: 2.4rem;
    }

    .services-content p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .services-list {
        gap: 30px;
        margin-top: 0;
        width: 95%;
    }

    .service-text {
        font-size: 40px;
    }

    .service-item .icon-box {
        padding: 60px;
    }

    .service-item .icon-box i {
        font-size: 65px;
        width: 60px;
    }

    /* Work Section */
    .work h2 {
        line-height: 1.4;
        font-size: 2.4rem;
        width: 50%;
        text-align: center;
    }

    .work p {
        font-size: 1.5rem;
        line-height: 1.5;
        width: 75%;
    }

    /* Testimonial Section */
    .testimonials {
        margin: 100px 0 200px;
    }

    .testimonials .container {
        flex-direction: column;
    }

    .testimonial-content {
        max-width: 65%;
        text-align: center;
    }

    .testimonial-content h2 {
        line-height: 1.4;
        font-size: 2.4rem;
    }

    .testimonial-content p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .testimonial-image-base {
        height: 450px;
    }

    .testimonial-container {
        transform: translateY(-50%);
        padding: 30px;
        bottom: auto;
        left: -10%;
        right: -10%;
    }

    .testimonial-img {
        width: 135px;
        height: 135px;
    }

    .testimonial-msg {
        font-size: 1.2rem;
    }

    .testimonial-name {
        font-size: 2.5rem;
    }

    .prev-btn .arrow-box i,
    .next-btn .arrow-box i {
        font-size: 2.5rem;
    }

    .prev-btn {
        left: -45px;
    }

    .next-btn {
        right: -45px;
    }

    /* FAQ Section */
    .faq .container {
        width: 85%;
    }

    .faq .container h2 {
        font-size: 2.4rem;
        line-height: 1.4;
    }

    .faq-main-paragraph {
        font-size: 1.5rem;
        width: 80%;
        line-height: 1.5;
    }

    .q {
        width: 81%;
    }

    .faq-question p {
        font-size: 30px;
        text-align: left;
    }

    .plus-minus {
        font-size: 30px;
        height: 50px;
        width: 50px;
    }

    .plus-minus i {
        width: 30px;
        height: 30px;
    }

    .faq-answer {
        width: 100%;
    }

    .faq-answer p {
        font-size: 1.2rem;
    }

    /* Contact Section */
    .sub-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px;
        padding: 25px;
    }

    .horizontal-seperator {
        display: none;
    }

    .contact-info,
    .quote-form {
        width: 100%;
        padding: 10px 0;
        align-items: center;
    }

    .contact-info h2 {
        font-size: 2.5rem;
    }

    .contact-info-paragraph {
        font-size: 1.5rem;
        width: 90%;
    }

    .contact-item div strong {
        font-size: 27px;
    }

    .contact-label {
        font-size: 1.5rem;
    }

    .underinfo {
        font-size: 25px;
    }

    .contact-item .icon {
        font-size: 40px;
    }

    .contact-item .icon i {
        width: 40px;
    }

    .req-a-quote {
        width: 80%;
    }

    .quote-form h2 {
        font-size: 2.5rem;
    }

    .quote-form p {
        font-size: 1.5rem;
        width: 90%;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group input {
        width: auto;
    }

    .input-group select {
        width: auto;
    }

    .send-message-button {
        font-size: 1.5rem;
        padding: 20px 30px;
        margin: 100px auto 0;
        width: auto;
    }

    /* Footer */
    footer .container {
        margin: 30px auto;
        flex-direction: column;
    }

    .footer-seperator {
        height: 1px;
        background-color: white;
        width: 100%;
        margin: 20px;
    }

    .footer-left,
    .footer-right {
        padding: 0;
        width: 100%;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .motto p {
        font-size: 1.3rem;
        text-align: center;
    }

    .company-name-logo .company-logo {
        width: 60px;
    }

    .company-name-logo div span {
        font-size: 25px;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-contact {
        width: auto;
    }

    .footer-contact h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .footer-contact-details {
        gap: 25px;
        align-items: center;
    }

    .footer-contact-details div i {
        font-size: 30px;
        width: 30px;
    }

    .footer-contact-details div p {
        font-size: 1.2rem;
    }

    .footer-socials {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        gap: 0;
    }

    .footer-socials a {
        font-size: 50px;
    }

    .footer-bottom .container {
        align-items: center;
    }

    .twistdevs .container {
        font-size: 10px;
    }
}



/* For devices with a width of 540px or less (e.g., smartphones with split screens) */
@media (max-width: 540px) {

    /* Standards */
    .cta-button {
        font-size: 1.2rem;
        padding: 10px 15px;
        margin: 50px auto 0;
    }

    .arrow-box {
        padding: 5px;
    }

    .arrow-box i {
        font-size: 2rem;
    }

    .label {
        font-size: 2.2rem;
        letter-spacing: 2px;
    }

    /* Hero Section */
    .hero {
        height: 110vh;
    }

    .hero .container {
        width: 65%;
    }

    .hero-content h1 {
        line-height: 1.3;
    }

    .hero-content p {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    /* Navigation Section */
    .navlinks {
        width: 50%;
    }

    /* About Section */
    .about-content {
        width: 80%;
    }

    .about-content h2 {
        font-size: 2.1rem;
    }

    .about-image img {
        height: 450px;
    }

    .signature {
        font-size: 3.5rem;
    }

    .ceo-signature span {
        margin: -60px 40px auto;
    }

    /* Stats Section */
    .stat h2 {
        font-size: 2.8rem;
    }

    .stat p {
        font-size: 1.5rem;
    }

    /* Services Section */
    .services-content {
        width: 80%;
    }

    .services-content h2 {
        font-size: 2.1rem;
    }

    .service-item .icon-box i {
        font-size: 35px;
        width: 40px;
    }

    .service-item .icon-box {
        padding: 30px;
    }

    .service-text {
        font-size: 28px;
    }

    /* Work Section */
    .work h2 {
        width: 80%;
        font-size: 2.1rem;
    }

    .work p {
        width: 80%;
    }

    /* Testimonial Section */
    .testimonial-content {
        max-width: 80%;
    }

    .testimonial-image-base {
        height: 330px;
    }

    .testimonial-container {
        transform: translateY(-25%);
        padding: 10px;
    }

    .testimonial-img {
        width: 100px;
        height: 100px;
    }

    .testimonial-msg {
        font-size: 1rem;
    }

    .testimonial-name {
        font-size: 1.4rem;
    }

    .prev-btn .arrow-box i,
    .next-btn .arrow-box i {
        font-size: 2rem;
    }

    .prev-btn {
        left: -35px;
    }

    .next-btn {
        right: -35px;
    }

    /* FAQ Section */
    .faq .container {
        width: 80%;
    }

    .faq .container h2 {
        font-size: 2.1rem;
    }

    .faq-main-paragraph {
        width: auto;
    }

    .faq-question p {
        font-size: 22px;
    }

    .plus-minus {
        font-size: 20px;
        height: 40px;
        width: 40px;
    }

    .plus-minus i {
        width: 20px;
        height: 20px;
    }

    .faq-answer p {
        font-size: 0.9rem;
        letter-spacing: 1.5px;
    }

    /* Contact Section */
    .contact-info h2 {
        font-size: 2rem;
    }

    .contact-info-paragraph {
        font-size: 1.2rem;
    }

    .contact-item div strong {
        font-size: 23px;
    }

    .contact-label {
        font-size: 1.1rem;
    }

    .underinfo {
        font-size: 18px;
    }

    .contact-item .icon i {
        width: 30px;
        margin-top: 5px;
    }

    .contact-item .icon {
        font-size: 30px;
    }

    .quote-form h2 {
        font-size: 2rem;
    }

    .quote-form p {
        font-size: 1.2rem;
    }

    .quote-form input,
    .quote-form select,
    .quote-form textarea {
        padding: 15px;
        font-size: 15px;
    }

    .send-message-button {
        font-size: 1.2rem;
        padding: 10px 15px;
        margin: 50px auto 0;
    }

    .send-message-button .arrow-box i {
        font-size: 2rem;
    }

    /* Footer Section */
    .company-name-logo div span {
        font-size: 22px;
    }

    .motto p {
        font-size: 1.1rem;
    }

    .footer-contact h3 {
        font-size: 21px;
    }

    .footer-contact-details div i {
        font-size: 20px;
        width: 20px;
    }

    .footer-contact-details div p {
        font-size: 0.9rem;
    }

    .footer-socials a {
        font-size: 30px;
    }

    .twistdevs .container {
        font-size: 8px;
    }
}

@media (max-width: 480px) {
    /* Styles for screens 480px and below: e.g Nokia N9 */

    /* Standards */
    .label {
        font-size: 1.8rem;
    }

    .cta-button {
        font-size: 1.1rem;
    }

    .arrow-box i {
        font-size: 1.5rem;
    }

    /* Navigation Section */
    .navlinks ul li a {
        font-size: 1.5rem;
    }


    /* Hero Section */
    .hero {
        height: 95vh;
    }

    .hero-content h1 {
        font-size: 2.4rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    /* About Section */
    .about-content h2 {
        font-size: 1.8rem;
    }

    .about-content p {
        font-size: 1.1rem;
    }

    .ceo-signature span {
        margin: -55px 40px auto;
    }

    /* Stat Section */
    .stat p {
        font-size: 1.2rem;
    }

    /* Services Section */
    .services-content h2 {
        font-size: 1.8rem;
    }

    .services-content p {
        font-size: 1.1rem;
    }

    .service-text {
        font-size: 22px;
    }

    /* Work Section */
    .work h2 {
        font-size: 1.8rem;
    }

    .work p {
        font-size: 1.1rem;
    }

    /* Testimonial Section */
    .testimonial-content h2 {
        font-size: 1.8rem;
    }

    .testimonial-content p {
        font-size: 1.1rem;
    }

    .testimonial-container {
        padding: 10px 15px;
    }

    .testimonial-image-base {
        height: 280px;
    }

    .testimonial-img {
        width: 90px;
        height: 90px;
    }

    .testimonial-msg {
        font-size: .9rem;
    }

    .testimonial-name {
        font-size: 1.2rem;
    }

    .prev-btn {
        left: -30px;
    }

    .next-btn {
        right: -30px;
    }

    /* FAQ Section */
    .faq .container h2 {
        font-size: 1.8rem;
    }

    .faq-main-paragraph {
        font-size: 1.1rem;
        width: 90%;
    }

    .faq-question p {
        font-size: 20px;
    }

    /* Contact Section */
    .contact .container {
        max-width: 100%;
        width: 100%;
    }

    .contact-info h2 {
        font-size: 1.8rem;
    }

    .contact-item div strong {
        font-size: 22px;
    }

    .send-message-button {
        font-size: 1.1rem;
    }

    .send-message-button .arrow-box i {
        font-size: 1.7rem;
    }

    /* Footer Section */
    .footer-bottom .container p {
        font-size: 1.3rem;
        margin-top: 50px;
    }
}


@media (max-width: 414px) {

    /* Hero Section */
    .hero {
        height: 100vh;
    }

    .hero-content h1 {
        font-size: 2.3rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }

    /* About Section */
    .about-content h2 {
        font-size: 1.7rem;
    }

    .about-content p {
        font-size: 1rem;
    }

    .ceo-signature span {
        margin: -52px 40px auto;
    }

    /* Stats Section */
    .stat p {
        font-size: 1.2rem;
    }

    /* Services Section */
    .services-content h2 {
        font-size: 1.7rem;
    }

    .services-content p {
        font-size: 1rem;
    }

    .service-text {
        font-size: 22px;
    }

    /* Work Section */
    .work h2 {
        font-size: 2rem;
    }

    .work p {
        font-size: 1rem;
    }

    /* Testimonial Section */
    .testimonial-container {
        transform: translateY(-10%);
        padding: 15px 30px;
    }

    .testimonial-content h2 {
        font-size: 1.8rem;
    }

    .testimonial-content p {
        font-size: 1rem;
    }

    .testimonial-img {
        width: 90px;
        height: 90px;
    }

    .testimonial-msg {
        font-size: 0.9rem;
    }

    .next-btn {
        right: -15px;
    }

    .prev-btn {
        left: -15px;
    }

    /* FAQ Section */
    .faq .container h2 {
        font-size: 1.8rem;
    }

    .faq-main-paragraph {
        font-size: 1rem;
    }

    .faq-question p {
        font-size: 19px;
    }

    .plus-minus i {
        width: 15px;
        height: 15px;
    }

    .plus-minus {
        font-size: 15px;
        height: 30px;
        width: 30px;
    }

    .faq-answer p {
        font-size: 0.9rem;
        letter-spacing: 1px;
    }


    /* Contact Section */
    .contact-info h2 {
        font-size: 1.8rem;
    }

    .contact-info-paragraph {
        font-size: 1.1rem;
    }

    .quote-form h2 {
        font-size: 1.8rem;
    }

    .quote-form p {
        font-size: 1.1rem;
    }

    /* Footer Section */
    .footer-bottom .container p {
        font-size: 1.3rem;
        margin-top: 50px;
    }

    /* End of media queries for 414px  */
}


@media (max-width: 390px) {

    /* Stats Section */
    .stat p {
        font-size: 1.1rem;
    }

    /* Testimonial Section */
    .testimonial-image-base {
        height: 250px;
    }

    .testimonial-container {
        padding: 10px 25px;
    }

    .testimonial-img {
        width: 70px;
        height: 70px;
    }

    .testimonial-msg {
        font-size: 0.7rem;
    }

    .testimonial-name {
        font-size: 1.1rem;
    }

    .prev-btn .arrow-box i,
    .next-btn .arrow-box i {
        font-size: 1.5rem;
    }

    .next-btn {
        right: -15px;
    }

    .prev-btn {
        left: -15px;
    }

    /* Footer Section */
    .footer-bottom .container p {
        font-size: 1.2rem;
    }
}



@media (max-width: 375px) {

    .company-logo {
        width: 60px;
    }

    /* Hero Section */
    .hero-content h1 {
        font-size: 2.1rem;
    }

    /* About Section  */
    .about-image img {
        height: 330px;
    }

    /* FAQ Section */
    .faq-question p {
        font-size: 18px;
    }

    .faq-answer p {
        font-size: 0.8rem;
    }

    /* end of media queries */
}


@media (max-width: 360px) {

    /* Navigation Section */
    #burger i {
        font-size: 2.5rem;
    }

    /* Stats Section */
    .stat p {
        font-size: 1.05rem;
    }

    /* FAQ Section */
    .faq-question p {
        font-size: 17px;
    }

    /* Footer Section */
    .footer-bottom .container p {
        font-size: 1.1rem;
    }

    /* End of media queries */
}

@media (max-width: 320px) {

    /* Standards */
    .company-logo {
        width: 50px;
    }

    .cta-button {
        font-size: 0.9rem;
        padding: 7px 10px;
    }

    .label {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .label::before,
    .label::after {
        width: 8px;
        height: 8px;
    }

    .arrow-box i {
        font-size: 1.3rem;
    }

    /* Navigation Section */
    .navlinks ul li a {
        font-size: 1.3rem;
    }

    /* Hero Section */
    .hero {
        height: 90vh;
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    /* About Section */
    .about-content h2 {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 0.8rem;
    }

    .signature {
        font-size: 2.5rem;
    }

    .ceo-signature span {
        margin: -45px 40px auto;
    }

    /* Stats Section */
    .stat h2 {
        font-size: 1.8rem;
    }

    .stat p {
        font-size: 0.9rem;
    }

    /* Services Section */
    .services-content h2 {
        font-size: 1.5rem;
    }

    .services-content p {
        font-size: 0.8rem;
    }

    .service-item .icon-box {
        padding: 20px;
    }

    .service-item .icon-box i {
        font-size: 25px;
        width: 30px;
    }

    .service-text {
        font-size: 18px;
    }

    /* Work Section */
    .work h2 {
        font-size: 1.5rem;
    }

    .work p {
        font-size: 0.8rem;
    }

    /* Testimonaial Section */
    .testimonial-content h2 {
        font-size: 1.4rem;
    }

    .testimonial-content p {
        font-size: 0.8rem;
    }

    .testimonial-image-base {
        height: 200px;
    }

    .testimonial-img {
        width: 80px;
        height: 80px;
    }

    .prev-btn .arrow-box i,
    .next-btn .arrow-box i {
        font-size: 1.3rem;
    }

    .testimonial-box {
        gap: 10px;
    }

    .testimonial-container {
        padding: 10px;
    }

    .prev-btn {
        left: -25px;
    }

    .next-btn {
        right: -25px;
    }

    /* FAQ Section */
    .faq .container h2 {
        font-size: 1.5rem;
    }

    .faq-main-paragraph {
        font-size: 0.8rem;
    }

    .faq-question p {
        font-size: 15px;
        font-size: 0.7rem;
    }

    /* Contact Section */
    .contact-info h2 {
        font-size: 1.5rem;
    }

    .contact-info-paragraph {
        font-size: 0.9rem;
    }

    .contact-item div strong {
        font-size: 19px;
    }

    .contact-label {
        font-size: 0.8rem;
    }

    .underinfo {
        font-size: 12px;
    }

    .contact-item .icon {
        font-size: 20px;
    }

    .contact-item .icon i {
        width: 20px;
    }

    .quote-form h2 {
        font-size: 1.5rem;
    }

    .quote-form p {
        font-size: 0.9rem;
    }

    .quote-form input,
    .quote-form select,
    .quote-form textarea {
        padding: 13px;
        font-size: 13px;
    }

    .send-message-button {
        font-size: 0.9rem;
        padding: 7px 10px;

    }

    .send-message-button .arrow-box i {
        font-size: 1.3rem;
    }

    /* Footer Section */
    .company-name-logo div span {
        font-size: 15px;
    }

    .motto p {
        font-size: 0.8rem;
    }

    .footer-contact h3 {
        font-size: 17px;
    }

    .footer-contact-details {
        gap: 10px;
    }

    .footer-contact-details div i {
        font-size: 15px;
        width: 15px;
    }

    .footer-contact-details div p {
        font-size: 0.8rem;
    }

    .footer-socials a {
        font-size: 25px;
    }

    .footer-bottom .container p {
        font-size: 0.9rem;
    }

    /* End of hopefully the last media queries: 320px  */
}